nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='#') Nutrify
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  
  .collapse.navbar-collapse(id='navbarSupportedContent')
    ul.navbar-nav.mr-auto.float-right
      li.nav-item
        a.nav-link(class='btn btn-dark' id='signout' href='/api/v1/auth/signout') Signout 